.modal {
  position: fixed;
  inset: 0;
  z-index: 200;
  inline-size: 100%;
  block-size: 100%;
  min-block-size: 100vh;
  min-block-size: 100dvb;
  overflow-y: auto;

  display: grid;
  place-items: center;
  padding-block: 3em;

  backdrop-filter: blur(18px);
  background-color: rgba(0, 0, 0, 0.4);
  @extend %hidden-block;

  &--opened {
    @extend %visibility-block;
  }

  &__container {
    position: relative;
    inline-size: min(90vw, 75em);
    background-color: #fff;
    border-radius: 10px;
    padding: clamp(0.9375em, 4vw, 2.5em);
  }

  &__close-button {
    position: absolute;
    inset: 0.5em 0.5em auto auto;
    border-radius: 50%;
    color: var(--main-text-low-color);

    &:hover {
      background-color: transparent;
      color: var(--accent-color);
    }
  }

  &__title {
    margin: 0;
    padding-block: 0 clamp(1.125rem, 4vw, 2.5rem);
    font-size: clamp(1.125em, 2.5vw, 1.5625em);
    font-variation-settings: 'wght' 800;
    text-align: center;
  }

  &__form {
    display: flex;
    gap: clamp(0.125em, 2vw, 1.25em);
    flex-direction: column;
  }

  &__button {
    align-self: center;
  }
}
