/* Блок студСМИ */
.stud-smi {
  &__description {
    font-size: clamp(0.625em, 2vw, 1.25em);
  }

  &__button {
    min-inline-size: unset;
    padding: 0.625rem;
  }

  &__card {
    block-size: 100%;
    min-block-size: clamp(6.25em, 20.5vw, 12.8125em);
    padding: clamp(0.625em, 1.4vw, 0.875em) clamp(1em, 2.4vw, 1.5em);
    background-color: #fff;
    border-radius: 10px;
    font-variation-settings: 'wght' 800;
  }

  &__card-title {
    display: inline;
    font-size: clamp(0.9375em, 2.5vw, 1.5625em);
  }

  &__card-description {
    font-size: clamp(0.625em, 2vw, 1.25em);
  }
}
