/* Баннер на странице студСМИ */
.banner {
  display: grid;
  inline-size: 100%;
  min-block-size: clamp(12em, 55vw, 40.625em);
  background: var(--main-dark-color) var(--main-dark-color-gradient) no-repeat
    center / cover;
  color: var(--accent-text-color);

  &::before {
    content: '';
    grid-area: 1/1/2/2;
    display: block;
    inline-size: 100%;
    block-size: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    @include media(sm, max) {
      background-image: linear-gradient(
        180deg,
        rgba(39, 43, 55, 0) 0%,
        #272b37 100%
      );
    }
  }

  &::after {
    content: '';
    display: block;
    grid-area: 1/1/2/2;
    margin-block: auto;
    margin-inline: auto var(--section-inline-start);
    inline-size: clamp(8em, 40vw, 31.25em);
    block-size: clamp(8em, 40vw, 31.25em);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    mask-image: url('../images/icons.svg#ministry');
    background-color: var(--accent-text-color);
  }

  &__inner {
    margin-inline: var(--section-inline-start);
  }

  &__columns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--gap-grid);

    @include media(md, max) {
      flex-direction: column;
    }
  }

  &__logo-image {
    margin-inline: auto;
    inline-size: clamp(15em, 46vw, 28.75em);
    block-size: clamp(15em, 46vw, 28.75em);
    object-fit: contain;
    object-position: center;

    @include media(md) {
      order: 2;
    }
  }

  &__card {
    margin-block: auto;
    margin-inline: var(--section-inline-start) auto;
    padding-inline: clamp(0.75em, 3vw, 1.875em);
    max-inline-size: clamp(10em, 45vw, 26.5em);

    grid-area: 1/1/2/2;
    position: relative;

    display: grid;
    gap: 1.125em;
    padding-block: clamp(0.75em, 3.3vw, 2.0625em);

    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;

    @include media(sm) {
      gap: clamp(1.125em, 9.3vw, 5.8125em);
    }
  }

  &__title {
    margin-block: 0;
    font-variation-settings: 'wght' 800;
    font-size: clamp(0.9375em, 4vw, 2.5em);
    text-transform: uppercase;

    &--size-lg {
      text-transform: unset;
      font-size: clamp(1.25em, 6vw, 3.75em);
    }
  }

  &__title-span {
    display: block;
    font-variation-settings: 'wght' 400;

    @include media(sm) {
      font-size: 66.6666667%;
    }
  }

  &__button {
    background: var(--main-color);
    min-inline-size: unset;
    padding: 0.625rem;
  }

  &--place-blog {
    padding-block: var(--gap-section);
    align-content: center;
    &::before,
    &::after {
      content: unset;
    }

    .banner__title {
      @include media(md, max) {
        text-align: center;
      }
    }
  }

  &--content-stud-smi {
    min-block-size: 20em;
  }

  &--theme-light {
    background: unset;
    color: var(--main-text-color);
  }
}
