/* Блок кнопка */
.button {
  text-decoration: unset;
  text-align: center;
  background-color: transparent;
  border: none;
  font-variation-settings: 'wght' 500;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid var(--main-text-color);
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;
    inline-size: 1.5em;
    block-size: 1.5em;
  }

  &__text {
    vertical-align: middle;
  }

  &--theme {
    &-gradient {
      font-size: clamp(0.75em, 2.5vw, 1.5625em);
      border-radius: 10px;
      min-inline-size: min(22rem, 100%);
      outline: 2px solid transparent;
      padding: 0.9375rem 1.875rem;
      background: var(--main-color) var(--main-color-gradient) no-repeat center;
      color: var(--accent-text-color);

      @media (hover: hover) {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          inset: 0;
          opacity: 0;
          border-radius: inherit;
          background: var(--main-dark-color) var(--main-dark-color-gradient)
            no-repeat center;
          transition: opacity 0.35s;
        }

        .button__text {
          position: relative;
        }

        &:hover::before {
          opacity: 1;
        }
      }

      @include media(lg) {
        min-inline-size: 16em;
      }
    }
  }

  &--size-xl {
    min-inline-size: clamp(13.75rem, 8.1602rem + 23.8498vw, 29.625rem);
    min-block-size: clamp(2.5rem, 1.5317rem + 4.1315vw, 5.25rem);
  }

  &--justify-center {
    @include media(sm) {
      margin-inline: auto;
    }
  }

  &--type-back {
    align-self: start;
    font-size: clamp(0.75em, 2vw, 1.25em);
    color: var(--main-text-low-color);

    .button__icon {
      inline-size: 1em;
    }

    &:hover {
      color: var(--accent-color);
      background: var(--main-color-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      border-block-end-color: var(--accent-color);

      .icon::before {
        background: var(--main-color) var(--main-color-gradient) no-repeat
          center;
      }
    }
  }
}
