.button {
  background-color: transparent;
  border: none;
  font-variation-settings: 'wght' 500;
  transition: background 0.3s;

  // &:hover {}
  &:focus {
    outline: none;
  }
  &:focus-visible {
    outline: 2px solid var(--main-text-color);
  }

  &--theme {
    &-gradient {
      font-size: clamp(0.75em, 2.5vw, 1.5625em);
      border-radius: 10px;
      min-inline-size: min(22rem, 100%);
      outline: 2px solid transparent;
      padding: 0.9375rem 1.875rem;
      background: var(--main-color-gradient) no-repeat center;
      color: var(--accent-text-color);

      // &:hover {}
    }
  }
}
