/* Лэйаут страниц */
.page {
  min-block-size: 100vh;
  display: flex;
  flex-direction: column;

  &__content {
    flex: auto;
  }

  &__section {
    margin-inline: auto;
    padding-inline: var(--section-padding);
    inline-size: 100%;
    max-inline-size: var(--section-inline-size);
    margin-block: clamp(1.5625em, 10vw, 6.25em);

    display: flex;
    gap: var(--gap-section);
    flex-direction: column;
  }

  &__card-deck {
    padding: 0;
    margin-block: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(20em, 100%), 1fr));
    gap: var(--gap-grid);
  }

  &__title-block {
    inline-size: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--gap-section);
  }

  /* Заголовок страницы */
  &__heading {
    margin: 0;
    line-height: 1;
    font-variation-settings: 'wght' 800;
    font-size: clamp(1.25em, 6vw, 3.75em); // 60 - 20
  }

  /* Заголовок секции */
  &__title {
    margin: 0;
    font-variation-settings: 'wght' 800;
    font-size: clamp(1.25em, 0.8929em + 1.7857vw, 2.5em); // 40 - 20
    max-inline-size: 18em;
  }

  &__subtitle {
    margin: 0;
    font-variation-settings: 'wght' 800;
    font-size: clamp(1.25em, 2.5vw, 1.5625em);
  }

  &__description {
    margin: 0;
    max-inline-size: 40em;
    font-size: clamp(1em, 2vw, 1.25em);
  }

  &__link {
    margin-inline-start: auto;
    align-self: flex-end;
    flex: none;
    font-size: clamp(0.75em, 2.5vw, 1.5625em); // 25 - 12
    font-variation-settings: 'wght' 600;
    text-decoration: unset;
    border-block-end: 1px solid;

    // &:hover {
    //   border-block-end: 2px solid;
    // }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px solid;
    }
  }

  &__button {
    @include media(sm) {
      align-self: center;
    }
  }

  &__more-button {
    align-self: center;
    border-block-end: 1px solid var(--accent-color);
    font-size: clamp(0.75em, 2.5vw, 1.5625em);
    font-variation-settings: 'wght' 600;

    // &:hover {
    //   border-block-end: 2px solid;
    // }
  }

  @supports (min-block-size: 100dvb) {
    min-block-size: 100dvb;
  }
}
