/* Лэйаут страниц */
.page {
  min-block-size: 100vh;
  display: flex;
  flex-direction: column;

  &__content {
    flex: auto;

    // баннер для студСМИ
    &--bg-image {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        margin-inline: auto;
        padding-inline: var(--section-padding);
        inline-size: 100%;
        max-inline-size: var(--section-inline-size);
        background: var(--grey-100) url('../images/bg-stud-smi.png') no-repeat
          top center / 105%;

        @include media(md, max) {
          background-size: 170%;
          background-position-x: 80%;
        }
      }
    }
  }

  &__section {
    margin-inline: auto;
    padding-inline: var(--section-padding);
    inline-size: 100%;
    max-inline-size: var(--section-inline-size);
    margin-block: clamp(1.5625em, 10vw, 6.25em);

    display: flex;
    gap: var(--gap-section);
    flex-direction: column;
  }

  &__card-deck {
    padding: 0;
    margin-block: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(20em, 100%), 1fr));
    gap: var(--gap-grid);

    &--size-sm {
      grid-template-columns: repeat(auto-fill, minmax(min(17em, 100%), 1fr));
    }

    &--size-lg {
      grid-template-columns: repeat(auto-fill, minmax(min(25em, 100%), 1fr));
    }

    &--mobile-size-sm {
      @include media(md, max) {
        grid-template-columns: repeat(auto-fill, minmax(min(9em, 100%), 1fr));
      }
    }
  }

  // небольшие отступы
  &__inner {
    padding: 0;
    margin-block: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: clamp(0.75em, 2.4vw, 1.5em); // 12 - 24
  }

  &__title-block {
    inline-size: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--gap-section);
  }

  /* Заголовок страницы */
  &__heading {
    margin-block: 0 0.125em;
    line-height: 1;
    font-variation-settings: 'wght' 800;
    font-size: clamp(1.25em, 6vw, 3.75em); // 60 - 20
  }

  /* Заголовок секции */
  &__title {
    margin-block: 0 0.125em;
    font-variation-settings: 'wght' 800;
    font-size: clamp(1.25em, 4vw, 2.5em); // 40 - 20
    max-inline-size: 18em;
  }

  &__subtitle {
    margin: 0;
    font-variation-settings: 'wght' 800;
    font-size: clamp(1.25em, 2.5vw, 1.5625em);
  }

  &__description {
    margin: 0;
    font-size: clamp(1em, 2vw, 1.25em);
  }

  &__link {
    margin-inline-start: auto;
    align-self: center;
    flex: none;
    font-size: clamp(0.75em, 2.5vw, 1.5625em); // 25 - 12
    font-variation-settings: 'wght' 600;
    text-decoration: unset;
    border-block-end: 2px solid;
    transition: opacity 0.35s;

    &:hover {
      opacity: 0.8;
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px solid;
    }
  }

  &__more-button {
    align-self: center;
    border-block-end: 2px solid var(--accent-color);
    font-size: clamp(0.75em, 2.5vw, 1.5625em);
    font-variation-settings: 'wght' 600;
    transition: opacity 0.35s;

    &:hover {
      opacity: 0.8;
    }
  }

  &__address {
    font-variation-settings: 'wght' 700;
    align-items: flex-start;
  }

  &__address-link {
    text-decoration: unset;
    font-size: clamp(1em, 2vw, 1.25em);

    display: inline-flex;
    align-items: flex-start;
    gap: 0.5em;

    &:hover .page__address-link-text {
      border-block-end-color: currentColor;
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px solid;
    }
  }
  &__address-link-text {
    border-block-end: 2px solid transparent;
  }

  &__address-link-icon {
    flex: none;
    display: inline-block;
    inline-size: 1.25em;
    min-inline-size: 1.25em;
    max-inline-size: 1.25em;
    block-size: 1.25em;

    &::before {
      background: var(--main-color) var(--main-color-gradient) no-repeat center;
    }
  }

  @supports (min-block-size: 100dvb) {
    min-block-size: 100dvb;
  }

  &__hidden-mobile {
    @include media(lg, max) {
      display: none;
    }
  }

  &__hidden-desktop {
    @include media(lg) {
      display: none;
    }
  }
}
