/* Секция с новостями на главной странице */
.news {
  &__columns {
    @include media(lg) {
      display: grid;
      gap: var(--gap-grid);
      grid-template-columns: 1fr 0.36fr;
    }
  }

  &__slider {
    &.is-initialized:not(.is-active) .splide__list {
      display: grid;
    }
    @include media(md, max) {
      margin-inline: calc(var(--section-padding) * -1);
      margin-block-end: var(--gap-grid);
    }
  }

  &__slider-track {
    @include media(md) {
      height: 100%;
    }
  }

  &__slider-list {
    @include media(md) {
      gap: var(--gap-grid);
      grid-template-columns: 0.9fr 1fr 1fr;
      grid-auto-flow: column;

      li {
        &:nth-child(9n + 1) {
          grid-row: span 2;
        }

        &:nth-child(9n + 2) {
          grid-row: span 2;
        }

        &:nth-child(9n + 3) {
          grid-column: span 2;
          grid-row: span 4;
        }
      }
    }
  }

  &__asside-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    gap: var(--gap-grid);
    grid-template-columns: repeat(auto-fill, minmax(min(20em, 100%), 1fr));

    @include media(lg) {
      height: 100%;
      grid-template-rows: 1fr 1fr 1fr 1fr;
    }
  }
}
