.text-rows {
  @include media(sm) {
    @include clamp(1, 1.2);
    min-block-size: 1.2em;

    &--two {
      -webkit-line-clamp: 2;
      min-block-size: 2.4em;
      max-block-size: 2.4em;
    }

    &--three {
      -webkit-line-clamp: 3;
      min-block-size: 3.6em;
      max-block-size: 3.6em;
    }
  }
}
