/* Обертка для карточек, когда нужно по клику на всю область карточки переходить по ссылке */
.card-link {
  display: flex;
  inline-size: 100%;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid;
  }

  &--hover-card {
    @media (hover: hover) {
      border: 2px solid transparent;
      transition: border 0.35s;
      &:hover {
        border-color: var(--accent-color, #d03ec3);
      }
    }
  }
}
