/* Секция топ-10 студСМИ на главной */
.top-ten {
  &__cards {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    gap: clamp(1.25em, 5vw, 3.125em);
    grid-template-columns: repeat(auto-fill, minmax(min(15vw, 12.5em), 1fr));
  }

  &__image {
    border-radius: 10px;
    aspect-ratio: 1/1;
    position: relative;
    overflow: hidden;

    display: block;
    inline-size: 100%;
    // inline-size: clamp(4em, 20vw, 12.5em);
    // block-size: clamp(4em, 20vw, 12.5em);
    object-fit: cover;
    object-position: center;
    &:after {
      content: attr(alt);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.75em;
      padding: 0.75em;
      color: var(--main-text-color);

      position: absolute;
      inset: 0;
      inline-size: 100%;
      block-size: 100%;
      text-align: center;
      background-image: linear-gradient(
        to bottom,
        #ccc 0%,
        #eee 50%,
        #ccc 100%
      );
    }
  }
}
