/* Детальная страница */
.article {
  margin-block: var(--gap-section-block);

  // Внутренние поля
  &__inner {
    margin-inline: auto;
    margin-block: clamp(0.9375em, 4vw, 2.5em); // 15 - 40
    padding-inline: var(--section-padding);
    inline-size: 100%;
    max-inline-size: var(--section-inline-size);

    display: flex;
    gap: var(--gap-section);
    flex-direction: column;
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: 1.25em clamp(0.75em, 2vw, 1.25em);

    &--column-mobile {
      @include media(sm, max) {
        flex-direction: column;
        align-items: unset;
      }
    }
  }

  &__title-block {
    display: flex;
    align-items: center;
    gap: 1.25em clamp(0.75em, 2vw, 1.25em);
  }

  &__title {
    margin-block: 0 0.125em;
    font-variation-settings: 'wght' 800;
    font-size: clamp(1.25em, 6vw, 3.75em); // 60 - 20
    max-inline-size: 15em;
  }

  &__title-span {
    display: block;
    font-size: 66.6666667%;
  }

  &__subtitle {
    margin-block: 0 0.125em;
    font-variation-settings: 'wght' 800;
    font-size: clamp(1em, 4vw, 2.5em); // 40 - 16
    max-inline-size: 18em;
  }

  &__date {
    margin-block: 0;
    font-size: clamp(0.75em, 1.6vw, 1em);
    font-variation-settings: 'wght' 500;
    color: var(--main-text-low-color);
  }

  &__views {
    flex: none;
    margin-block: 0;

    display: flex;
    align-items: center;
    gap: clamp(0.25em, 0.5vw, 0.375em);

    font-size: clamp(0.75em, 1.6vw, 1em);
    font-variation-settings: 'wght' 500;
    color: var(--main-text-low-color);
  }

  &__views-icon {
    inline-size: clamp(1.125em, 2.4vw, 1.5em);
    block-size: clamp(1.125em, 2.4vw, 1.5em);
    color: currentColor;
  }

  // &__views-value {}

  &__share-button {
    flex: none;
    font-size: clamp(0.75em, 1.6vw, 1em);
    font-variation-settings: 'wght' 500;
    color: var(--main-text-low-color);

    &:hover {
      color: var(--accent-color);
    }

    &--size-lg {
      font-size: clamp(0.75rem, 2.4vw, 1.5rem);
    }
  }

  &__share-icon {
    inline-size: 1em;
    block-size: 1em;
  }

  &__category {
    margin-block: 0;
    align-self: flex-start;
    font-size: clamp(0.75em, 2vw, 1.25em);
    font-variation-settings: 'wght' 500;
    color: var(--accent-text-color);
    padding: 0.75em 1.25em;
    background: var(--main-color) var(--main-color-gradient) no-repeat center;
    border-radius: 10px;
  }

  &__columns {
    display: grid;
    gap: var(--gap-grid);

    @include media(lg) {
      grid-template-columns: 1fr 0.36fr;
    }
  }

  &__asside-list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: grid;
    gap: var(--gap-grid);

    &--place-columns {
      grid-template-rows: 1fr 1fr 1fr 1fr;
      margin-block-end: clamp(1.8125em, 5.8vw, 3.625em);
    }
  }

  &__main-text {
    font-size: clamp(1em, 2vw, 1.25em);
  }

  &__slider-image {
    border-radius: 10px;
  }

  &__iframe,
  &__image {
    background-color: var(--main-text-low-color);
    inline-size: 100%;
    aspect-ratio: 1150/616;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
  }

  &__link {
    text-decoration: unset;
    align-self: flex-start;
    color: var(--main-text-low-color);
    font-size: clamp(0.75em, 2vw, 1.25em);
    border-block-end: 2px solid;

    &:hover {
      color: var(--accent-color);
    }

    &--role-hastag {
      color: #fff;
      border-block-end-color: transparent;
      &:hover {
        border-block-end-color: var(--accent-color);
      }
    }

    &--role-certificate {
      color: #fff;
      border-block-end: 1px solid;
      &:hover {
        color: #fff;
        border-block-end-color: transparent;
      }

      @include media(sm, max) {
        padding: 0.625em 0.5em;
      }
    }
  }

  &__address {
    flex: auto;
    overflow: hidden;
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  &__address-text {
    margin-block: 0;
    font-size: clamp(0.75em, 2vw, 1.25em);
    font-variation-settings: 'wght' 500;

    display: flex;
    align-items: flex-start;
    gap: 0.5em;
  }

  &__address-icon {
    flex: none;
    display: inline-block;
    inline-size: 1.25em;
    min-inline-size: 1.25em;
    max-inline-size: 1.25em;
    block-size: 1.25em;

    &::before {
      background: var(--main-color) var(--main-color-gradient) no-repeat center;
    }
  }

  &__author {
    flex: auto;
    display: flex;
    gap: clamp(0.5rem, 1.4vw, 0.875rem);
    color: var(--main-text-low-color);
    font-variation-settings: 'wght' 500;
    font-size: clamp(0.75rem, 2vw, 1.25rem);

    &--place-comments {
      background-color: #fff;
      padding: clamp(0.625rem, 1.6vw, 1rem);
      color: var(--main-text-color);
      margin-block-end: clamp(0.75rem, 2vw, 1.25rem);
    }
  }

  &__author-image {
    flex: none;
    inline-size: clamp(1.75rem, 5.8vw, 3.4375rem);
    min-inline-size: clamp(1.75rem, 5.8vw, 3.4375rem);
    max-inline-size: clamp(1.75rem, 5.8vw, 3.4375rem);
    block-size: clamp(1.75rem, 5.8vw, 3.4375rem);
    border-radius: 10px;
  }

  &__author-text {
    margin-block: 0;
    align-self: center;
  }

  &__author-time {
    margin-inline-start: auto;
    color: var(--main-text-low-color);
    text-align: right;
  }

  &__span-text {
    display: block;
  }

  &__comments {
    padding: 0;
    margin-block: 0;
    list-style: none;
  }

  &__form {
    @include media(sm, max) {
      margin-block: 2.5em 1.5em;
    }
  }

  // &__comment-field {}

  &__comment-field-input {
    border-color: #fff;
    padding: clamp(1.25rem, 3vw, 1.875rem) clamp(1.25rem, 4vw, 2.5rem);
  }

  &__comment-field-send-button {
    display: block;
    inline-size: clamp(1.25rem, 4.2vw, 2.625rem);
    block-size: clamp(1.25rem, 4.2vw, 2.625rem);
    padding: 0;
    // padding: 0.125rem;
    // outline: 3px solid;
    color: var(--main-text-low-color);
    grid-area: 1/1/2/2;

    align-self: center;
    justify-self: flex-end;
    margin-inline-end: clamp(1.25rem, 4vw, 2.5rem);

    &:hover {
      background-color: transparent;

      &::before {
        background: var(--main-color) var(--main-color-gradient) no-repeat
          center;
      }
    }
  }

  // Для тестов
  &__test-group {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: clamp(0.5em, 2vw, 1.25em);
  }

  &__test-question {
    justify-self: start;

    @include media(lg) {
      grid-column: 1/-1;
    }
  }

  &__test-row {
    grid-column: 1/-1;
  }

  &__test-skip-link {
    align-self: center;
    justify-self: end;
    @include media(lg) {
      grid-row: 3/4;
    }
  }

  // Добавить изображения
  &__label-button {
    display: block;
    cursor: pointer;
    inline-size: 100%;
    block-size: 100%;
    background-color: #fff;
    color: var(--main-text-low-color);
    border-radius: 10px;

    &::before {
      mask-size: 45%;
    }

    &:hover {
      background-color: #fff;
      &::before {
        background-color: var(--main-color);
      }
    }

    &--theme-grey {
      background-color: var(--grey-100);

      &:hover {
        background-color: var(--grey-100);
      }
    }
  }

  // Девайсы
  &__hidden-mobile {
    @include media(lg, max) {
      display: none;
    }
  }

  &__hidden-desktop {
    @include media(lg) {
      display: none;
    }
  }
}
