/* Блок для иконок */
.icon {
  color: inherit;

  &::before {
    content: '';
    background-color: currentColor;
    display: block;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    inline-size: 100%;
    block-size: 100%;
  }

  &--type {
    &-attach::before {
      mask-image: url('../images/icons.svg#attach');
    }
    &-calendar::before {
      mask-image: url('../images/icons.svg#calendar');
    }
    &-check::before {
      mask-image: url('../images/icons.svg#check');
    }
    &-close::before {
      mask-image: url('../images/icons.svg#close');
    }
    &-docs::before {
      mask-image: url('../images/icons.svg#docs');
    }
    &-edit::before {
      mask-image: url('../images/icons.svg#edit');
    }
    &-email::before {
      mask-image: url('../images/icons.svg#email');
    }
    &-error::before {
      mask-image: url('../images/icons.svg#error');
    }
    &-eye::before {
      mask-image: url('../images/icons.svg#eye');
    }
    &-like::before {
      mask-image: url('../images/icons.svg#like');
    }
    &-location::before {
      mask-image: url('../images/icons.svg#location');
    }
    &-medal::before {
      mask-image: url('../images/icons.svg#medal');
    }
    &-menu::before {
      mask-image: url('../images/icons.svg#menu');
    }
    &-minus::before {
      mask-image: url('../images/icons.svg#minus');
    }
    &-notification::before {
      mask-image: url('../images/icons.svg#notification');
    }
    &-phone::before {
      mask-image: url('../images/icons.svg#phone');
    }
    &-plus::before {
      mask-image: url('../images/icons.svg#plus');
    }
    &-rutube::before {
      mask-image: url('../images/icons.svg#rutube');
    }
    &-search::before {
      mask-image: url('../images/icons.svg#search');
    }
    &-share::before {
      mask-image: url('../images/icons.svg#share');
    }
    &-telegram::before {
      mask-image: url('../images/icons.svg#telegram');
    }
    &-trophy::before {
      mask-image: url('../images/icons.svg#trophy');
    }
    &-user::before {
      mask-image: url('../images/icons.svg#user');
    }
    &-vkontakte::before {
      mask-image: url('../images/icons.svg#vkontakte');
    }
  }
}
