/* корректировка базовых стилей для библы splide */
.splide {
  &__pagination {
    position: static;
    padding-block: clamp(0.3125em, 2vw, 1.25em) clamp(0.9375em, 3vw, 1.875em);

    &__page {
      inline-size: clamp(0.375em, 1.6vw, 1em);
      block-size: clamp(0.375em, 1.6vw, 1em);
      margin: clamp(0.1875em, 0.8vw, 0.5em);
      background-color: var(--main-text-low-color);

      &.is-active {
        background: var(--main-color) var(--main-color-gradient) no-repeat
          center;
        pointer-events: none;
        transform: unset;
      }
    }
  }
}
