/* корректировка базовых стилей для библы splide */
.splide {
  // &__arrows {}

  &__arrow {
    inline-size: 3.3125em;
    block-size: 3.3125em;
    border: 3px solid #fff;
    opacity: 1;
    background: var(--grey-100);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    color: var(--main-color);

    svg {
      fill: currentColor;
    }

    &:hover:not(:disabled) {
      opacity: 1;
      background: var(--main-color);
      color: #fff;
    }

    // &:disabled {
    //   opacity: 0;
    //   pointer-events: none;
    // }
  }

  &__pagination {
    position: static;
    padding-block: clamp(0.3125em, 3vw, 1.875em) 0;

    &__page {
      inline-size: clamp(0.375em, 1.6vw, 1em);
      block-size: clamp(0.375em, 1.6vw, 1em);
      margin: clamp(0.1875em, 0.8vw, 0.5em);
      background-color: var(--main-text-low-color);

      &.is-active {
        background: var(--main-color) var(--main-color-gradient) no-repeat
          center;
        pointer-events: none;
        transform: unset;
      }
    }
  }

  &__slide--auto-width {
    @include media(md, max) {
      width: min(90vw, 18.75em);
    }
  }

  &__slide--desktop-wide-width {
    @include media(md) {
      width: min(40vw, 37.5em);
    }
  }

  &__slide--desktop-auto-width {
    @include media(md) {
      width: min(30vw, 28em);
    }
  }

  &--size-wide {
    @media screen and (width > 90em) {
      .splide__arrow {
        &--prev {
          left: clamp(3.4375rem, -19.0625rem + 25vw, 10.9375rem);
        }
        &--next {
          right: clamp(3.4375rem, -19.0625rem + 25vw, 10.9375rem);
        }
      }
    }
  }

  &--background-gradient {
    @media screen and (width > 90em) {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        inset: 0;
        z-index: 1;
        inline-size: 100%;
        block-size: 100%;
        pointer-events: none;
        background: linear-gradient(
          90deg,
          #f7f7f7 5%,
          rgba(247, 247, 247, 0) 15% 80%,
          #f7f7f7 95%
        );
      }
    }
  }

  &--pagination-size-sm {
    .splide__pagination__page {
      inline-size: clamp(0.375em, 1.2vw, 0.75em);
      block-size: clamp(0.375em, 1.2vw, 0.75em);
    }
  }
}
