/* корректировка базовых стилей для библы splide */
.splide {
  // &__arrows {}

  &__arrow {
    inline-size: 3.3125em;
    block-size: 3.3125em;
    border: 3px solid #fff;
    opacity: 1;
    background: var(--grey-100, #f7f7f7);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    color: var(--main-color, #685dc3);

    svg {
      fill: currentColor;
    }

    &:hover:not(:disabled) {
      opacity: 1;
      background: var(--main-color, #685dc3);
      color: #fff;
    }

    // &:disabled {
    //   opacity: 0;
    //   pointer-events: none;
    // }
  }

  &__pagination {
    position: static;
    padding-block: clamp(0.3125em, 3vw, 1.875em) 0;

    &__page {
      inline-size: clamp(0.375em, 1.6vw, 1em);
      block-size: clamp(0.375em, 1.6vw, 1em);
      margin: clamp(0.1875em, 0.8vw, 0.5em);
      background-color: var(--main-text-low-color, #c0c0c0);

      &.is-active {
        background: var(--main-color, #685dc3) var(--main-color-gradient)
          no-repeat center;
        pointer-events: none;
        transform: unset;
      }
    }
  }

  &__track--with-padding-block {
    padding-block: 1em;
  }

  &__slide {
    // На мобильных кастомная ширина
    &--mobile-width-auto {
      @include media(md, max) {
        width: min(90vw, 18.75em);
      }
    }

    &--mobile-width-sm {
      @include media(md, max) {
        width: min(50vw, 8.75em);
      }
    }

    &--mobile-width-md {
      @include media(md, max) {
        width: min(50vw, 9.75em);
      }
    }

    &--sertificate-width {
      width: min(20vw, 4em);
      @include media(md) {
        width: min(20vw, 4.75em);
      }
    }

    &--add-article-width {
      width: min(20vw, 4em);
      @include media(md) {
        width: min(25vw, 8.25em);
      }
    }

    // На декстопе кастомная ширина 600
    &--desktop-width-lg {
      @include media(md) {
        width: min(40vw, 37.5em);
      }
    }

    // На декстопе кастомная ширина 460
    &--desktop-width-md {
      @include media(md) {
        width: min(30vw, 28.75em);
      }
    }

    // На декстопе кастомная ширина 400
    &--desktop-width-sm {
      @include media(md) {
        width: min(27vw, 25em);
      }
    }
  }

  // Слайдер только на мобильных, на десктопе три в ряд
  &--visible-mobile {
    &.is-initialized:not(.is-active) .splide__list {
      display: grid;
    }

    .splide__track {
      @include media(md) {
        overflow: unset;
      }
    }

    .splide__list {
      @include media(md) {
        grid-template-columns: repeat(auto-fill, minmax(min(20em, 100%), 1fr));
        gap: var(--gap-grid, clamp(0.375em, 1vi, 0.625em));

        // 4 в ряд
        &--match-four {
          grid-template-columns: repeat(
            auto-fill,
            minmax(min(17em, 100%), 1fr)
          );
          gap: var(--gap-slider, clamp(0.5em, 1.5vi, 0.9375em));
        }
      }
    }

    @include media(md, max) {
      margin-inline: calc(
        var(--section-padding, clamp(1.25rem, 1.1875rem + 0.3125vw, 1.5625rem)) *
          -1
      );
    }
  }

  // Слайдер без полей на мобильных
  &--wide-mobile {
    @include media(md, max) {
      margin-inline: calc(
        var(--section-padding, clamp(1.25rem, 1.1875rem + 0.3125vw, 1.5625rem)) *
          -1
      );
    }
  }

  &--size-wide {
    @media screen and (width > 90em) {
      .splide__arrow {
        &--prev {
          left: clamp(3.4375rem, -19.0625rem + 25vw, 10.9375rem);
        }
        &--next {
          right: clamp(3.4375rem, -19.0625rem + 25vw, 10.9375rem);
        }
      }
    }
  }

  &--background-gradient {
    @media screen and (width > 90em) {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        inset: 0;
        z-index: 1;
        inline-size: 100%;
        block-size: 100%;
        pointer-events: none;
        background: linear-gradient(
          90deg,
          #f7f7f7 5%,
          rgba(247, 247, 247, 0) 15% 80%,
          #f7f7f7 95%
        );
      }
    }
  }

  &--pagination-size-sm {
    .splide__pagination__page {
      inline-size: clamp(0.375em, 1.2vw, 0.75em);
      block-size: clamp(0.375em, 1.2vw, 0.75em);
    }
  }
}
