/* Блок для всплывающей подсказки */
.tooltip {
  position: fixed;
  inset: 0 0 auto auto;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  transition:
    visibility 0s 0.35s,
    opacity 0.35s;

  &__container {
    max-inline-size: 372px;
    padding: clamp(0.9375em, 2.4vw, 1.5em);
    background-color: var(--main-text-low-color);
    border-radius: 10px;
  }

  &__text {
    // margin: 0 0 1.2em;
    margin: 0;
    font-size: clamp(0.75em, 2vw, 1.25em);
  }

  &__link {
    // font-size: clamp(0.75em, 2vw, 1.25em);
    font-variation-settings: 'wght' 500;
    text-decoration: unset;
    border-block-end: 1px solid;

    &:hover {
      border-block-end: 2px solid;
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px solid;
    }
  }

  &--opened {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    transition:
      visibility 0s,
      opacity 0.35s;
  }
}
