.search {
  &__filters-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--gap-grid);
  }

  &__title-block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--gap-section);

    @include media(sm, max) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__title {
    margin: 0 0 0.125em;
    line-height: 1;
    font-variation-settings: 'wght' 800;
    font-size: clamp(1.25em, 6vw, 3.75em); // 60 - 20
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: var(--gap-section);
  }

  // для внутреннего построения
  &__inner {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-grid);
  }

  // Плашки для выбора категорий
  &__filter-label {
    border-radius: 10px;
    &:has(:focus-visible) {
      outline: 2px solid var(--main-text-color);
    }
  }

  &__filter-field {
    &:focus {
      outline: none;
    }

    &:checked + .search__filter-text {
      background: var(--main-color) var(--main-color-gradient) no-repeat center;
      color: #fff;
      pointer-events: none;
    }
  }

  &__filter-text {
    display: block;
    font-size: clamp(0.75em, 2vw, 1.25em);
    font-variation-settings: 'wght' 500;
    color: var(--main-text-low-color);
    padding: clamp(0.325em, 1.2vw, 0.75rem) clamp(0.875rem, 2vw, 1.25rem);
    background-color: #fff;
    border-radius: inherit;
    cursor: pointer;
    transition:
      background 0.35s,
      color 0.35s;

    &:hover {
      background: var(--main-color) var(--main-color-gradient) no-repeat center;
      color: #fff;
    }
  }

  &__region-button,
  &__calendar-button,
  &__reset-button,
  &__filter-button {
    background-color: transparent;
    padding: 0;
    border: none;
    border-block-end: 2px solid currentColor;
    color: var(--main-text-low-color);
    font-size: clamp(0.75em, 2vw, 1.25em);
    font-variation-settings: 'wght' 500;
    transition: background 0.35s;

    &:hover {
      color: var(--accent-color);
      background: var(--main-color-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      border-block-end-color: var(--accent-color);

      .icon::before {
        background: var(--main-color) var(--main-color-gradient) no-repeat
          center;
      }
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px solid var(--main-text-color);
    }

    &--actived {
      color: var(--accent-color);
      background: var(--main-color-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      border-block-end-color: var(--accent-color);
      // pointer-events: none;

      .icon::before {
        background: var(--main-color) var(--main-color-gradient) no-repeat
          center;
      }
    }
  }

  &__region-button {
    font-variation-settings: 'wght' 600;
  }

  &__calendar-button {
    border-block-end: none;

    .icon {
      display: inline-block;
      inline-size: 1.5em;
      block-size: 1.5em;
      vertical-align: middle;
    }

    span {
      vertical-align: middle;
    }
  }

  &__reset-button {
    align-self: flex-start;
  }

  &__filter-button {
    border-block-end: none;

    .icon {
      display: inline-block;
      inline-size: 1.375em;
      block-size: 1.375em;
      vertical-align: middle;
    }

    span {
      vertical-align: middle;
    }
  }
}
