.search {
  &__filters-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--gap-grid);
  }

  &__title-block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--gap-section);

    // @include media(sm, max) {
    //   flex-direction: column;
    //   align-items: unset;
    // }
  }

  &__title {
    margin-block: 0 0.125em;
    line-height: 1;
    font-variation-settings: 'wght' 800;
    font-size: clamp(1.25em, 6vw, 3.75em); // 60 - 20
  }

  &__subtitle {
    margin-block: 0 0.125em;
    font-variation-settings: 'wght' 800;
    font-size: clamp(1em, 4vw, 2.5em); // 40 - 16
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: var(--gap-section);

    &--indent-sm {
      gap: var(--gap-grid);
    }
  }

  // для внутреннего построения
  &__inner {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-grid);

    &--indent-sm {
      gap: clamp(0.25em, 1vw, 0.625em);
    }
  }

  &__field {
    flex: auto;
  }

  // Кол-во на модерации
  &__icon-button {
    padding: 0;
    border-radius: 30%;
    inline-size: clamp(1.5em, 4vw, 2.5em);
    block-size: clamp(1.5em, 4vw, 2.5em);
    position: relative;
    transition: opacity 0.35s;

    &::before {
      background: var(--main-color) var(--main-color-gradient) no-repeat center;
    }

    &:hover {
      background-color: transparent;
      opacity: 0.8;
    }

    &--theme-grey {
      &::before {
        background: var(--main-text-low-color);
      }

      &:hover::before {
        background: var(--main-color) var(--main-color-gradient) no-repeat;
      }
    }
  }

  &__filtering-button {
    padding: 0.375em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
    inline-size: clamp(2.5em, 5.8vw, 3.625em);
    block-size: clamp(2.5em, 5.8vw, 3.625em);
    background-color: var(--main-text-low-color);
    color: rgba(black, 0.2);
    transition: all 0.35s;

    &:hover,
    &--actived {
      background: var(--main-color) var(--main-color-gradient) no-repeat center;
      color: var(--accent-text-color);
    }
  }

  &__icon-button-text {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(1em, 2.4vw, 1.5em);
    font-variation-settings: 'wght' 700;
  }

  // Плашки для выбора категорий
  &__filter-label {
    border-radius: 10px;
    &:has(:focus-visible) {
      outline: 2px solid var(--main-text-color);
    }
  }

  &__filter-field {
    &:focus {
      outline: none;
    }

    &:checked + .search__filter-text {
      background: var(--main-color) var(--main-color-gradient) no-repeat center;
      color: #fff;
      pointer-events: none;
    }
  }

  &__filter-text {
    display: block;
    font-size: clamp(0.75em, 2vw, 1.25em);
    font-variation-settings: 'wght' 500;
    color: var(--main-text-low-color);
    padding: clamp(0.325em, 1.2vw, 0.75rem) clamp(0.875rem, 2vw, 1.25rem);
    background-color: #fff;
    border-radius: inherit;
    cursor: pointer;
    transition:
      background 0.35s,
      color 0.35s;

    &:hover {
      background: var(--main-color) var(--main-color-gradient) no-repeat center;
      color: #fff;
    }
  }

  &__region-button,
  &__calendar-button,
  &__reset-button,
  &__filter-button {
    background-color: transparent;
    padding: 0;
    border: none;
    border-block-end: 2px solid currentColor;
    color: var(--main-text-low-color);
    font-size: clamp(0.75em, 2vw, 1.25em);
    font-variation-settings: 'wght' 500;
    transition: background 0.35s;
    cursor: pointer;

    &:hover {
      color: var(--accent-color);
      background: var(--main-color-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      border-block-end-color: var(--accent-color);

      .icon::before {
        background: var(--main-color) var(--main-color-gradient) no-repeat
          center;
      }
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px solid var(--main-text-color);
    }

    &--actived {
      color: var(--accent-color);
      background: var(--main-color-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      border-block-end-color: var(--accent-color);
      // pointer-events: none;

      .icon::before {
        background: var(--main-color) var(--main-color-gradient) no-repeat
          center;
      }
    }
  }

  &__region-button {
    font-variation-settings: 'wght' 600;
  }

  &__calendar-button {
    border-block-end: none;

    .icon {
      display: inline-block;
      inline-size: 1.5em;
      min-inline-size: 1.5em;
      max-inline-size: 1.5em;
      block-size: 1.5em;
      vertical-align: middle;
    }

    span {
      vertical-align: middle;
    }
  }

  &__reset-button {
    align-self: flex-start;
  }

  &__filter-button {
    border-block-end: none;

    .icon {
      display: inline-block;
      inline-size: 1.375em;
      block-size: 1.375em;
      vertical-align: middle;
    }

    span {
      vertical-align: middle;
    }
  }

  &__sort-button {
    margin-inline-start: auto;
    align-self: center;
    color: var(--main-text-low-color);
    font-size: clamp(0.75em, 2vw, 1.25em);
    border-block-end: 2px solid;

    &:hover {
      color: var(--accent-color);
    }
  }

  &__calendar-fields-label {
    display: flex;
    gap: 0.25em;
    align-items: center;

    font-size: clamp(0.75em, 2vw, 1.25em);
    font-variation-settings: 'wght' 500;
    transition: background 0.35s;

    color: var(--accent-color);
    background: var(--main-color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-block-end-color: var(--accent-color);

    .icon {
      display: inline-block;
      inline-size: 1.5em;
      min-inline-size: 1.5em;
      max-inline-size: 1.5em;
      block-size: 1.5em;
      vertical-align: middle;

      &::before {
        background: var(--main-color) var(--main-color-gradient) no-repeat
          center;
      }
    }

    &:has(:focus-visible) {
      outline: 2px solid var(--main-text-color);
    }
  }

  &__calendar-field {
    background-color: transparent;
    padding: 0;
    border: none;
    font-size: inherit;
    color: inherit;
    inline-size: 5.375em;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}
