@import '../../styles/mixins';

.footer {
  margin-block-start: 66px;

  &__wrap {
    @extend %section-inline-size;
    color: var(--accent-text-color);

    margin-block-start: -24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(10px, 2vi, 20px);

    @include media(lg) {
      grid-template-columns: 1.15fr 0.5fr 0.5fr;
    }
  }

  &__nav {
    grid-column: 1/-1;
    grid-row: 2/3;

    @include media(lg) {
      grid-column: unset;
      grid-row: unset;
    }
  }

  &__nav-list {
    margin: 0 0 0 clamp(0.9375em, 4.375vi, 4.375em);
    list-style: none;
    padding: clamp(1.25em, 5vi, 3.125em) 0 clamp(1em, 4.5vi, 2.5em);
    columns: 2;

    li {
      display: flex;
      align-items: start;
      gap: 0.5em;

      &::before {
        content: '';
        margin-block: clamp(10px, 1.76vi, 1.1em);
        border-radius: 50%;
        background-color: currentColor;
        inline-size: 4px;
        block-size: 4px;
      }
    }

    @include media(lg) {
      columns: unset;
    }
  }

  &__nav-link {
    text-decoration: none;
    font-size: clamp(10px, 1.6vi, 16px);
    text-underline-position: under;
    padding-block: 0.675em;
    font-variation-settings: 'wght' 500;

    &:hover {
      text-decoration: underline;
    }
    &:focus {
      outline: none;
    }
    &:focus-visible {
      outline: 2px solid var(--main-text-color);
    }
  }
}
