.footer {
  margin-block-start: 4.125em;

  &__wrap {
    @extend %section-inline-size;
    color: var(--accent-text-color);

    margin-block-start: -1.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap-grid);

    @include media(lg) {
      grid-template-columns: 1.15fr 0.5fr 0.5fr;
    }
  }

  &__nav {
    grid-column: 1/-1;
    grid-row: 2/3;

    @include media(lg) {
      grid-column: unset;
      grid-row: unset;
    }
  }

  &__nav-list {
    margin: 0 0 0 clamp(0.9375em, 4.375vw, 4.375em);
    list-style: none;
    padding: clamp(1.25em, 5vw, 3.125em) 0 clamp(1em, 4.5vw, 2.5em);
    columns: 2;

    li {
      display: flex;
      align-items: start;
      gap: 0.5em;

      &::before {
        content: '';
        margin-block: clamp(0.625em, 1.76vw, 1.1em);
        border-radius: 50%;
        background-color: currentColor;
        inline-size: 4px;
        block-size: 4px;
      }
    }

    @include media(lg) {
      columns: unset;
    }
  }

  &__nav-link {
    text-decoration: none;
    font-size: clamp(0.625em, 1.6vw, 1em);
    text-underline-position: under;
    padding-block: 0.625em;
    font-variation-settings: 'wght' 500;

    &:hover {
      text-decoration: underline;
    }
    &:focus {
      outline: none;
    }
    &:focus-visible {
      outline: 2px solid var(--main-text-color);
    }
  }

  &__address-logo {
    display: block;
    padding: clamp(0.625em, 1.5vw, 0.9375em) clamp(0.625em, 2vw, 1.25em)
      clamp(0.25em, 0.5vw, 0.3125em);
    border-radius: 20px 20px 0 0;
    background-color: #fff;

    &:focus {
      outline: none;
    }
    &:focus-visible {
      outline: 2px solid var(--main-text-color);
    }
  }

  &__address-logo-image {
    display: block;
    margin-inline: auto;
    inline-size: clamp(7.25em, 22.8vw, 14.25em);
    block-size: clamp(2.5em, 7.8vw, 4.875em);
    background: url('../images/logo--place-footer.png') center / 65% no-repeat;

    &--type-ministry {
      background: none;
      background-color: var(--main-color);
      mask: url('../images/ministry-logo.svg') center / contain no-repeat;
    }
  }

  &__address-content {
    padding-block: clamp(0.9375em, 2.5vw, 1.5375em)
      clamp(0.5em, 1.5vw, 0.9375em);
    padding-inline: clamp(0.625em, 2vw, 1.25em);
    border-radius: 0 0 20px 20px;
    background-color: #00000026;
  }

  &__address-links {
    display: flex;
    flex-direction: column;
    gap: var(--gap-grid);
    margin-block-end: 4.5vw;
  }

  &__address-link {
    display: flex;
    align-items: start;
    gap: clamp(0.5rem, 1.5vw, 0.9375rem);
    font-size: clamp(0.625em, 1.6vw, 1em);
    text-decoration: none;
    font-variation-settings: 'wght' 700;
    transition: color 0.3s;

    &:hover {
      color: var(--main-text-color);
    }
    &:focus {
      outline: none;
    }
    &:focus-visible {
      outline: 2px solid var(--main-text-color);
    }
  }

  &__address-link-icon {
    flex: none;
    inline-size: clamp(1em, 1.5vw, 1.5em);
    min-inline-size: clamp(1em, 1.5vw, 1.5em);
    max-inline-size: clamp(1em, 1.5vw, 1.5em);
    block-size: clamp(1em, 1.5vw, 1.5em);
  }

  &__social {
    @extend %reset-list;
    display: flex;
    gap: 0.3125em;
  }

  &__social-link-icon {
    display: block;
    inline-size: clamp(1.5em, 2.5vw, 2.5em);
    block-size: clamp(1.5em, 2.5vw, 2.5em);

    &::before {
      transition: background 0.3s;
    }
    &:hover::before {
      background-color: var(--main-text-color);
    }
    &:active {
      transform: translateY(1px);
    }
    &:focus {
      outline: none;
    }
    &:focus-visible {
      outline: 2px solid var(--main-text-color);
    }
  }
}
