@font-face {
  font-family: 'Montserrat';
  src:
    url(./Montserrat-VariableFont_wght.woff) format('woff2 supports variations'),
    url(./Montserrat-VariableFont_wght.woff2) format('woff2-variations');
  font-weight: 400 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src:
    url(./Montserrat-Italic-VariableFont_wght.woff) format('woff2 supports variations'),
    url(./Montserrat-Italic-VariableFont_wght.woff2) format('woff2-variations');
  font-weight: 400 900;
  font-style: italic;
  font-display: swap;
}
