/* Секция с темами */
.theme {
  margin-inline: auto;
  margin-block: clamp(1.5625em, 10vw, 6.25em);
  max-inline-size: var(--section-inline-size-wide);

  display: flex;
  gap: var(--gap-section);
  flex-direction: column;

  &__title-block {
    inline-size: 100%;
    padding-inline: var(--section-padding);

    @include media(md) {
      margin-inline: auto;
      max-inline-size: var(--section-inline-size);
    }
  }

  &--no-offset-start {
    margin-block-start: 0;
  }
}
