/* Секция с темами */
.theme {
  max-inline-size: unset;
  display: grid;
  grid-template-columns: 1fr var(--section-inline-size) 1fr;

  &__container {
    grid-column: 2/4;

    padding-inline: var(--section-padding);
    margin-block: clamp(1.5625em, 10vw, 6.25em);

    display: flex;
    gap: var(--gap-section);
    flex-direction: column;
  }
}
