/* Базовая карточка */
.card {
  position: relative;
  inline-size: 100%;
  block-size: 100%;
  background-color: #fff;
  border-radius: 10px;
  // overflow: hidden;

  display: flex;
  flex-direction: column;

  &__image {
    position: relative;
    overflow: hidden;
    background-color: var(--main-text-low-color);
    inline-size: 100%;
    aspect-ratio: 258/138;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0 0;

    &:after {
      content: attr(alt);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.75em;
      padding: 0.75em;
      color: var(--main-text-color);

      position: absolute;
      inset: 0;
      inline-size: 100%;
      block-size: 100%;
      text-align: center;
      background-image: linear-gradient(
        to bottom,
        #ccc 0%,
        #eee 50%,
        #ccc 100%
      );
    }

    &--content-certificate {
      aspect-ratio: 378/537;
      object-fit: contain;
    }

    &--only-image {
      border-radius: 10px;
    }

    &--square-image {
      aspect-ratio: 1/1;
    }
  }

  &__iframe {
    background-color: var(--main-text-low-color);
    inline-size: 100%;
    aspect-ratio: 258/138;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0 0;

    &_size_md {
      @include media(lg) {
        aspect-ratio: 600/400;
      }
    }
  }

  &__main-content {
    flex: auto;

    padding: 0.5em 0.75em;
    display: flex;
    flex-direction: column;
    gap: 0.75em;

    // Для карточек где пустое содержимое
    &--min-height {
      min-block-size: clamp(7.125em, 17vw, 10.625em);
    }
  }

  &__title {
    margin: 0;
    font-size: 1em;
    font-variation-settings: 'wght' 800;
  }

  &__description {
    margin: 0;
    font-size: clamp(0.75rem, 2vw, 1.25rem);
    max-inline-size: 60rem;
  }

  &__text {
    margin-block: 0;
    margin-inline-end: auto;
    font-size: 0.8125em;
    font-variation-settings: 'wght' 500;
  }

  &__controls {
    margin-block-start: auto;
    display: flex;
    align-items: flex-end;
    gap: 1.25em 0.375em;

    &--column-mobile {
      @include media(sm, max) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }

  &__address {
    flex: auto;
    overflow: hidden;
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  &__address-text {
    margin-block: 0;
    font-size: clamp(0.75em, 2vw, 1.25em);
    font-variation-settings: 'wght' 500;

    display: flex;
    align-items: flex-start;
    gap: 0.5em;
  }

  &__address-icon {
    flex: none;
    display: inline-block;
    inline-size: 1.25em;
    min-inline-size: 1.25em;
    max-inline-size: 1.25em;
    block-size: 1.25em;

    &::before {
      background: var(--main-color) var(--main-color-gradient) no-repeat center;
    }
  }

  &__author {
    overflow: hidden;
    flex: auto;
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  &__author-image {
    position: relative;
    overflow: hidden;
    flex: none;
    inline-size: clamp(1.75rem, 1.5714rem + 0.8929vw, 2.375rem);
    min-inline-size: clamp(1.75rem, 1.5714rem + 0.8929vw, 2.375rem);
    max-inline-size: clamp(1.75rem, 1.5714rem + 0.8929vw, 2.375rem);
    block-size: clamp(1.75rem, 1.5714rem + 0.8929vw, 2.375rem);
    border-radius: 10px;

    &:after {
      content: attr(alt);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.75em;
      padding: 0.75em;
      color: var(--main-text-color);

      position: absolute;
      inset: 0;
      inline-size: 100%;
      block-size: 100%;
      text-align: center;
      background-image: linear-gradient(
        to bottom,
        #ccc 0%,
        #eee 50%,
        #ccc 100%
      );
    }
  }

  &__author-name {
    margin-block: 0;
    font-size: clamp(0.75em, 1.6vw, 1em);
    font-variation-settings: 'wght' 500;
    color: var(--main-text-low-color);
  }

  &__views {
    flex: none;
    margin-block: 0;
    margin-inline-start: auto;

    display: flex;
    align-items: center;
    gap: clamp(0.25em, 0.5vw, 0.375em);
    color: var(--main-text-low-color);
  }

  &__views-icon {
    inline-size: clamp(1.125em, 2vw, 1.25em);
    block-size: clamp(1.125em, 2vw, 1.25em);
    color: currentColor;
  }

  &__views-value {
    font-variation-settings: 'wght' 500;
    font-size: 0.75em;

    @include media(sm) {
      font-size: 0.625em;
    }
  }

  &__like-button {
    flex: none;
    min-inline-size: clamp(1.125em, 2vw, 1.25em);
    max-inline-size: clamp(1.125em, 2vw, 1.25em);
    inline-size: clamp(1.125em, 2vw, 1.25em);
    block-size: clamp(1.125em, 2vw, 1.25em);
    padding: 0;
    color: var(--main-text-low-color);

    &:hover {
      color: var(--accent-color);
      background-color: transparent;
      &::before {
        background: var(--main-color) var(--main-color-gradient) no-repeat
          center;
      }
    }

    &--actived {
      color: var(--accent-color);
      &::before {
        background: var(--main-color) var(--main-color-gradient) no-repeat
          center;
      }
    }
  }

  &__share-button {
    flex: none;
    font-size: clamp(0.75rem, 0.6786rem + 0.3571vw, 1rem);
    color: var(--main-text-low-color);

    &:hover {
      color: var(--accent-color);
      &::before {
        background: var(--main-color) var(--main-color-gradient) no-repeat
          center;
      }
    }
  }

  &__remove-button {
    position: absolute;
    z-index: 1;
    padding: 0;
    inset: -0.5em -0.5em auto auto;
    inline-size: clamp(1.875em, 3.6vw, 2em);
    block-size: clamp(1.875em, 3.6vw, 2em);
    color: var(--error-color);

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      inset: 0.2em;
      border-radius: 10px;
      display: block;
      background-color: #fff;
    }

    @media (hover: hover) {
      transition: 0.35s;
      &:hover {
        background-color: transparent;
        transform: scale(1.05) translateY(-5%);
      }
    }
  }

  &__share-icon {
    inline-size: 1em;
    block-size: 1em;
  }

  // рейтинг
  // &__rating {}

  &__rating-bar {
    position: relative;
    block-size: clamp(1.25em, 3vw, 1.875em);
    inline-size: clamp(6.25em, 15.5vw, 9.6875em);
    background-color: var(--main-text-low-color);
    mask: url('../images/rating.svg') left center / 100% 100% no-repeat;
  }

  &__rating-bar-progress {
    block-size: inherit;
    background-color: var(--main-color);
    mask: url('../images/rating.svg') left center /
      clamp(6.25em, 15.5vw, 9.6875em) 100% no-repeat;
  }

  // Для построения
  &__press-bottom {
    margin-block-start: auto;
  }

  // Для обрезки текста
  &__cut-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  // Для переноса внутри параграфа
  &__span-text {
    display: block;
  }

  &--role-preview-button {
    @media (hover: hover) {
      outline: 2px solid transparent;
      margin: 2px;
      block-size: calc(100% - 4px);
      transition: outline 0.35s;
      cursor: pointer;
      &:hover {
        outline-color: var(--accent-color);
      }
    }
  }

  &--size-md {
    .card__main-content {
      padding: clamp(0.675em, 1.125vw, 1.125em) clamp(0.75em, 1.25vw, 1.25em);
    }

    .card__title {
      font-size: clamp(1em, 2.5vw, 1.5625em); // 25 - 16
    }

    .card__text {
      font-size: clamp(0.75em, 0.6071em + 0.7143vw, 1.25em); // 20 - 12
    }

    .card__controls {
      gap: 1.25em 0.875em;
    }

    .card__views-icon {
      inline-size: clamp(1.125em, 2.8vw, 1.75em);
      min-inline-size: clamp(1.125em, 2.8vw, 1.75em);
      max-inline-size: clamp(1.125em, 2.8vw, 1.75em);
      block-size: clamp(1.125em, 2.8vw, 1.75em);
    }

    .card__views-value {
      @include media(sm) {
        font-size: 0.9375em;
      }
    }

    .card__like-button {
      inline-size: clamp(1.125em, 2.8vw, 1.75em);
      min-inline-size: clamp(1.125em, 2.8vw, 1.75em);
      max-inline-size: clamp(1.125em, 2.8vw, 1.75em);
      block-size: clamp(1.125em, 2.8vw, 1.75em);
    }
  }

  &--size-lg {
    .card__title {
      font-size: clamp(1rem, 0.2143rem + 3.9286vw, 3.75rem); // 60 - 16
    }

    .card__author-name {
      font-size: clamp(0.75em, 2vw, 1.25em);
    }

    .card__author-image {
      inline-size: clamp(1.75rem, 1.2679rem + 2.4107vw, 3.4375rem);
      min-inline-size: clamp(1.75rem, 1.2679rem + 2.4107vw, 3.4375rem);
      max-inline-size: clamp(1.75rem, 1.2679rem + 2.4107vw, 3.4375rem);
      block-size: clamp(1.75rem, 1.2679rem + 2.4107vw, 3.4375rem);
    }
  }
}
