.broadcasts {
  &__slider {
    &.is-initialized:not(.is-active) .splide__list {
      display: grid;
    }
    @include media(md, max) {
      margin-inline: calc(var(--section-padding) * -1);
    }
  }
  &__columns {
    @include media(md) {
      grid-template-columns: repeat(auto-fill, minmax(min(20em, 100%), 1fr));
      gap: clamp(0.5em, 2vi, 1.25em);
    }
  }
}