/* Секция с медиа */
.media {
  &__columns {
    display: grid;
    gap: var(--gap-grid);
    @include media(lg) {
      grid-template-columns: 1.235fr 2fr;
    }
  }

  &__column {
    display: flex;
    gap: var(--gap-section);
    flex-direction: column;
  }

  &__podcast-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    gap: var(--gap-grid);

    @include media(lg) {
      height: 100%;
      grid-template-rows: 1fr 1fr 1fr;
    }
  }
}