/* Секция с медиа */
.media {
  &__columns {
    display: grid;
    gap: var(--gap-grid, clamp(0.375em, 1vi, 0.625em));
    @include media(lg) {
      grid-template-columns: 1.235fr 2fr;
    }
  }

  &__column {
    display: flex;
    gap: var(--gap-section, clamp(0.5em, 1.5vi, 0.9375em));
    flex-direction: column;
  }

  &__podcast-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    gap: var(--gap-grid, clamp(0.375em, 1vi, 0.625em));

    @include media(lg) {
      height: 100%;
      grid-template-rows: 1fr 1fr 1fr;
    }
  }
}