/* Блок с полем */
.field {
  &__label {
    line-height: 2;
    font-size: clamp(0.75em, 2vw, 1.25em);
    padding-inline-start: clamp(0.875rem, 2vw, 1.25rem);
    font-variation-settings: 'wght' 400;
    color: var(--main-text-low-color);
  }

  &__label-icon {
    inline-size: 1.5em;
    block-size: 1.5em;
  }

  &__inner {
    display: grid;
  }

  &__input {
    grid-area: 1/1/2/2;
    padding: 1rem clamp(0.875rem, 2vw, 1.25rem);
    line-height: 1.3;
    font-size: clamp(0.875em, 2vw, 1.25em);
    font-variation-settings: 'wght' 500;
    border: 1px solid var(--main-text-low-color);
    background-color: #fff;
    border-radius: 10px;
    @include placeholder {
      color: var(--main-text-low-color);
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 1px solid var(--main-color);
    }
  }

  &__checkbox {
    appearance: none;
    grid-area: 1/1/2/2;
    inline-size: 0.675em;
    block-size: 0.675em;
    border-radius: 50%;
    cursor: pointer;
    position: relative;

    &::before {
      content: '';
      display: block;
      inline-size: inherit;
      block-size: inherit;
      border-radius: inherit;
      background-color: transparent;
      outline: 1px solid var(--main-text-color);
      outline-offset: 1px;
      transition: background-color 0.3s;
    }
    &:focus {
      outline: none;
    }
    &:focus-visible {
      outline: 2px solid var(--main-color);
    }
    &:checked::before {
      background-color: var(--main-color);
    }
  }

  &__error-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    font-size: clamp(0.75em, 1.6vw, 1em);
    padding-inline-start: clamp(0.875rem, 2vw, 1.25rem);
    font-variation-settings: 'wght' 500;
    color: var(--accent-color);

    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    user-select: none;
    transition:
      visibility 0s 0.35s,
      opacity 0.35s;
    grid-area: 1/1/2/2;
  }

  &__error-icon {
    display: block;
    inline-size: clamp(1.25em, 1.75vw, 1.75em);
    block-size: clamp(1.25em, 1.75vw, 1.75em);
    color: var(--accent-color);
    grid-area: 1/1/2/2;

    align-self: center;
    justify-self: flex-end;
    margin-inline-end: clamp(0.875em, 2vw, 1.25em);

    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    user-select: none;
    transition:
      visibility 0s 0.35s,
      opacity 0.35s;
  }

  &__search-icon {
    display: block;
    inline-size: clamp(1.25em, 1.75vw, 1.75em);
    block-size: clamp(1.25em, 1.75vw, 1.75em);
    color: var(--accent-color);
    grid-area: 1/1/2/2;
    align-self: center;
    justify-self: flex-start;
    margin-inline-start: clamp(0.875em, 2vw, 1.25em);

    & ~ .field__input {
      padding-inline-start: clamp(3rem, 6.8vw, 4.25rem);
    }
  }

  &--state-error {
    .field__input {
      padding-inline-end: clamp(2rem, 4.8vw, 3rem);
    }
    .field__error-text {
      visibility: visible;
      opacity: 1;
      pointer-events: all;
      transition:
        visibility 0s,
        opacity 0.35s;
      grid-area: unset;
    }
    .field__error-icon {
      visibility: visible;
      opacity: 1;
      pointer-events: all;
      transition:
        visibility 0s,
        opacity 0.35s;
    }
  }

  &--content {
    &-checkbox {
      .field__label {
        padding-inline-start: 0;
        cursor: pointer;
      }

      .field__checkbox {
        margin-inline-end: 0.5em;
      }

      .field__error-text {
        grid-area: 2/2/3/3;
      }
    }

    &-file {
      .field__label {
        display: flex;
        gap: 8px;
        align-items: center;
        color: var(--accent-text-color);
        padding: 0.785rem clamp(0.875rem, 2vw, 1.25rem);
        background-color: var(--main-text-low-color);
        border-radius: 10px;
        transition: background-color 0.3s;
        cursor: pointer;

        &:has(:focus-visible) {
          outline: 1px solid var(--main-color);
        }

        &:hover {
          background-color: var(--main-color);
        }
      }
    }
  }

  // Используется в Выборе регионов, возможно перенести в другой класс
  &--size-small {
    .field__input {
      padding-block: 0.5rem;
    }
  }

  &--theme-grey {
    .field__input {
      border-color: var(--grey-100);
      background-color: var(--grey-100);
    }
  }
}
