/* Блок с карточкой с фоновой картинкой */
.card-banner {
  display: grid;
  inline-size: 100%;
  // aspect-ratio: 1220/650;
  min-block-size: clamp(12em, 55vw, 40.625em);
  background-color: var(--main-text-color);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;

  &::before {
    content: '';
    grid-area: 1/1/2/2;
    display: block;
    inline-size: 100%;
    block-size: 100%;
    background: linear-gradient(180deg, rgba(39, 43, 55, 0) 30%, #272b37 100%);
  }

  &__main-content {
    margin-inline: auto;
    padding-inline: var(--section-padding);
    inline-size: 100%;
    max-inline-size: var(--section-inline-size);

    grid-area: 1/1/2/2;
    position: relative;
    margin-block-start: auto;
    color: var(--accent-text-color);

    display: grid;
    gap: clamp(0.3125em, 1.5vw, 0.9375em);
    padding-block: clamp(0.625em, 2.5vw, 1.5625em);

    &--with-controls {
      grid-template-columns: 1fr auto;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: clamp(0.75em, 2vw, 1.25em);
    grid-area: 1/2/3/3;

    align-self: end;
  }

  &__title {
    margin: 0;
    font-variation-settings: 'wght' 800;
    max-width: min(20em, 100%);
    font-size: clamp(1em, 0.5714em + 2.1429vw, 2.5em); // 16 - 40
  }

  &__text {
    margin: 0;
    display: flex;
    gap: 0.5em;
    align-items: center;
    font-size: clamp(0.75em, 0.5179em + 1.1607vw, 1.5625em); // 12 - 25

    &--pseudo-link {
      text-decoration: underline;
      text-underline-position: under;

      &:hover {
        color: var(--accent-color);
      }
    }
  }

  &__text-icon {
    inline-size: 1em;
    block-size: 1em;
  }

  &__address {
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    font-variation-settings: 'wght' 500;
  }

  &__views {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  &__views-icon {
    inline-size: clamp(1.5em, 3.6vw, 2em);
    block-size: clamp(1.5em, 3.6vw, 2em);
    color: currentColor;
  }

  &__views-value {
    font-variation-settings: 'wght' 500;
    font-size: clamp(0.9375em, 2vw, 1.25em);
  }

  &__like-button {
    inline-size: clamp(1.5em, 3.6vw, 2em);
    block-size: clamp(1.5em, 3.6vw, 2em);
    padding: 0;

    &:hover {
      background-color: transparent;

      &::before {
        background: var(--main-color) var(--main-color-gradient) no-repeat
          center;
      }
    }

    &--overlay {
      position: absolute;
      inset: 0 0 auto auto;
      margin-inline-end: clamp(0.5em, 1.6vw, 1em);
      margin-block-start: clamp(0.5em, 1.6vw, 1em);
      inline-size: clamp(1.25em, 4.28vw, 2.675em);
      block-size: clamp(1.25em, 4.28vw, 2.675em);
    }

    &--actived::before {
      background: var(--main-color) var(--main-color-gradient) no-repeat center;
    }
  }

  &--place-top-banner {
    border-radius: 0;
    min-block-size: 100vh;

    .card-banner__main-content {
      gap: clamp(0.3125em, 2.5vw, 1.5625em);
      padding-block: clamp(0.9375em, 5vw, 3.125em);
    }

    @supports (max-block-size: 100dvb) {
      min-block-size: 100dvb;
    }
  }

  &--no-overlay::before {
    content: unset;
  }
}
