.card-banner {
  // margin-top: clamp(40px, 8vi, 80px); // минус высота хедера

  max-block-size: 100vh;
  max-block-size: 100dvb;
  display: grid;
  inline-size: 100%;
  aspect-ratio: 16/10;
  background-color: var(--main-text-color);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  overflow: hidden;

  &::after {
    content: '';
    grid-area: 1/1/2/2;
    display: block;
    inline-size: 100%;
    block-size: 100%;
    background: linear-gradient(180deg, rgba(39, 43, 55, 0) 30%, #272b37 100%);
  }

  &__main-content {
    @extend %section-inline-size;

    grid-area: 1/1/2/2;
    position: relative;
    margin-block-start: auto;
    color: var(--accent-text-color);

    display: flex;
    flex-direction: column;
    gap: clamp(5px, 1.5vi, 15px);
    padding-block: clamp(10px, 2.5vi, 25px);

    &--with-controls {
    }
  }

  &__title {
    margin: 0;
    font-size: clamp(1rem, 0.5714rem + 2.1429vw, 2.5rem); // 16 - 40
  }

  &__text {
    margin: 0;
    font-size: clamp(0.75rem, 0.5179rem + 1.1607vw, 1.5625rem); // 12 - 25

    &--pseudo-link {
      text-decoration: underline;
      text-underline-position: under;

      &:hover {
        color: var(--accent-color);
      }
    }
  }

  &--place-top-banner {
    border-radius: 0;

    .card-banner__main-content {
      gap: clamp(5px, 2.5vi, 25px);
      padding-block: clamp(15px, 5vi, 50px);
    }
  }
}
