.header {
  &__wrap {
    @extend %section-inline-size;

    display: flex;
    gap: 0.9375em;
  }

  &__logo {
    text-decoration: none;
    align-self: center;

    flex: none;
    inline-size: clamp(4.125rem, 3.0179rem + 5.5357vw, 8rem); // 66 128
    min-inline-size: clamp(4.125rem, 3.0179rem + 5.5357vw, 8rem);
    max-inline-size: clamp(4.125rem, 3.0179rem + 5.5357vw, 8rem);
    block-size: clamp(2.8125rem, 2.6875rem + 0.625vw, 3.25rem); // 45 52

    mask: url('../images/logo.svg') center / contain no-repeat;
    background-color: var(--accent-text-color);
  }

  &__menu {
    flex: auto;
    display: flex;
    justify-content: space-between;
    color: var(--accent-text-color);
  }

  &__menu-list {
    @extend %reset-list;
    flex: auto;
    display: flex;

    // Чтобы работал скрипт меню.
    li {
      flex: none;
    }
  }

  &__menu-link {
    display: flex;
    align-items: center;
    justify-content: center;
    min-block-size: clamp(2.5rem, 8vi, 5rem);
    text-align: center;
    text-decoration: none;
    padding-inline: 1.25em;
    font-variation-settings: 'wght' 500;
    transition: background 0.3s;

    &:hover {
      background-color: var(--hover-color);
    }
    &:focus {
      outline: none;
    }
    &:focus-visible {
      outline: 2px solid var(--main-text-color);
    }
  }

  &__join-button {
    display: none;
    align-self: center;
    flex: none;
    margin-inline: 0.9375rem 1.25rem;

    @include media(sm) {
      display: unset;
    }
  }

  &__mobile-menu {
    position: relative;
    display: flex;
    z-index: 100;
    margin-inline-start: auto;

    &:hover .header__mobile-menu-container {
      @extend %visibility-block;
    }
  }

  &__mobile-menu-btn {
    align-self: center;
    display: block;
    inline-size: clamp(2.5em, 3.8vi, 3.375em);
    min-inline-size: clamp(2.5em, 3.8vi, 3.375em);
    max-inline-size: clamp(2.5em, 3.8vi, 3.375em);
    block-size: clamp(2.5em, 3.8vi, 3.375em);
  }

  &__mobile-menu-container {
    position: absolute;
    inset: 100% -3em auto auto;
    @extend %hidden-block;

    @include media(xs) {
      inset: 100% 0 auto auto;
    }
  }

  &__mobile-menu-list {
    margin: .625em 0 0;
    padding: 0;
    list-style: none;
    inline-size: clamp(20em, 19.0179em + 4.9107vw, 23.4375em);
    background-color: #fff;
    box-shadow: 0 0 6px var(--hover-color);
    border-radius: 10px;
    overflow: hidden;
    color: var(--main-text-color);
  }

  &__mobile-menu-link {
    display: block;
    text-decoration: none;
    padding: 0.675rem 1.25rem;
    transition: background 0.3s;

    &:hover {
      background-color: var(--hover-color);
    }
    &:focus {
      outline: none;
    }
    &:focus-visible {
      outline: 2px solid var(--main-text-color);
    }
  }

  &__user-link {
    align-self: center;
    block-size: clamp(2.5em, 3.8vi, 3.375em);
    inline-size: clamp(2.5em, 3.8vi, 3.375em);
    min-inline-size: clamp(2.5em, 3.8vi, 3.375em);
    max-inline-size: clamp(2.5em, 3.8vi, 3.375em);
  }
}
