.form {
  display: flex;
  gap: clamp(0.75em, 2vw, 1.25em);
  flex-direction: column;

  &__two-columns {
    display: grid;
    gap: clamp(0.75em, 2vw, 1.25em);
    grid-template-columns: repeat(auto-fill, minmax(min(25em, 100%), 1fr));
  }

  &__title {
    margin: 0;
    font-size: clamp(1.25em, 4vw, 2.5em);
    font-variation-settings: 'wght' 800;
  }

  &__subtitle {
    margin: 0;
    padding-block: 0 clamp(1.125rem, 4vw, 2.5rem);
    font-size: clamp(1.125em, 2.5vw, 1.5625em);
    font-variation-settings: 'wght' 800;
    text-align: center;
  }

  &__description {
    margin: 0;
    font-size: clamp(0.75em, 2vw, 1.25em);
    font-variation-settings: 'wght' 400;
    color: var(--main-text-low-color);
  }

  &__legend {
    padding-inline: 0;
    grid-column: 1/-1;
    padding-block: 0 clamp(1.125rem, 4vw, 2.5rem);
    font-size: clamp(1em, 2vw, 1.25em);
    font-variation-settings: 'wght' 800;

    @include media(sm) {
      text-align: center;
    }
  }

  &__link {
    font-size: clamp(1em, 2vw, 1.25em);
    font-variation-settings: 'wght' 500;
    margin-inline: auto;
    text-decoration: unset;
    color: var(--main-text-low-color);
    border-block-end: 2px solid transparent;

    &:hover {
      border-block-end-color: currentColor;
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px solid var(--main-text-color);
    }
  }

  &__regions-list {
    margin: 0;
    padding: 2px; // на обводку
    list-style: none;
    max-block-size: 22.5em;
    overflow-y: auto;
    padding-inline-end: 1.875em;

    @include media(sm) {
      // ширина scrollbar
      &::-webkit-scrollbar {
        width: 21px;
      }
      // Цвет дорожки
      &::-webkit-scrollbar-track {
        background-color: var(--grey-100);
        border-radius: 10px;
      }
      // Плашка
      &::-webkit-scrollbar-thumb {
        background-color: var(--main-text-low-color);
        border: 4px solid var(--grey-100);
        border-radius: 10px;
      }
    }
  }

  &__regions-label-radio {
    &:has(:focus-visible) {
      outline: 2px solid var(--main-text-color);
    }
  }

  &__regions-radio {
    &:focus {
      outline: none;
    }

    &:checked + .form__regions-label-text {
      color: var(--accent-color);
      pointer-events: none;
    }
  }

  &__regions-label-text {
    display: block;
    font-size: clamp(0.9375em, 2vw, 1.25em);
    padding-block: 0.5em;
    border-radius: inherit;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: var(--accent-color);
    }
  }

  &__checkbox-group {
    display: grid;
    gap: clamp(1.25em, 6vw, 3.75em) var(--gap-grid);
    margin-block-end: clamp(1.5625em, 10vw, 6.25em);
    grid-template-columns: repeat(auto-fill, minmax(min(25em, 100%), 1fr));
  }

  &__checkbox-label {
    cursor: pointer;

    &:has(:focus-visible) {
      outline: 2px solid var(--main-text-color);
    }
  }

  &__checkbox {
    &:checked + .form__checkbox-pseudo-checkbox {
      border-color: transparent;
      background: var(--main-color-gradient) border-box;
      -webkit-mask:
        linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
    }
  }

  &__checkbox-pseudo-checkbox {
    display: inline-block;
    margin-inline-end: clamp(0.625em, 1.6vw, 1em);
    inline-size: clamp(1.625em, 4.2vw, 2.625em);
    block-size: clamp(1.625em, 4.2vw, 2.625em);
    border-radius: 50%;
    border: 5px solid;
    color: var(--main-text-low-color);
    vertical-align: middle;

    @include media(sm) {
      border: 7px solid;
    }
  }

  &__checkbox-text {
    margin-block: 0;
    font-size: clamp(1em, 2vw, 1.25em);
    vertical-align: middle;
  }

  &--place-tests {
    margin-block-end: clamp(1.875em, 6vw, 3.75em);
  }
}
